<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="navbar-header-section">
                <div class="navbar-left-side-section">
                    <div class="brand-details">
                        <div class="brand-logo">
                            <img src="../../assets/brand-logo/trustrace_logo_black.svg" alt="">                            
                        </div>                       
                    </div>
                    <ul class="menu-items">
                        <li><a href="">Home</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Home</a></li>
                    </ul>
                </div>
                <div class="navbar-right-side-section">
                    <ul class="menu-items">
                        <li><a href="">User Profiles</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="active-right-side-navbar">
                <div class="navbar-right-side-header-block">
                    <span class="chart-list-title" [ngClass]="status ? 'success' : 'icon--active'"
                        >All Charts</span
                    >
                    <button
                        class="icon icon--transparent"
                        (click)="clickEvent()"
                        [ngClass]="status ? 'success' : 'icon--active'"
                    >
                        <span class="navbar-icon"></span>
                        <span class="navbar-icon"></span>
                        <span class="navbar-icon"></span>
                    </button>
                </div>
            </div>
            
            <div class="navbar-right-side-menu-chart" [ngClass]="status ? 'success' : 'icon--active'">
                <div class="navbar-right-block" [ngClass]="status ? 'success' : 'icon--active'">
                    <div class="nav navbar navbar-right">
                        <div class="navbar-right-inner">
                            <ul class="menubar-list">
                                <li class="list-items">
                                    <a href="">
                                        Home
                                    </a>
                                </li>
                            </ul>
                            <div class="navbar-right-search">
                                <div class="right-menu-search-block">
                                    <div class="search-input">
                                        <i class="fa fa-search"></i>
                                        <input
                                            placeholder="{{ 'Search' }} "
                                            #search
                                        />
                                        <button
                                            class="clear-btn"
                                            *ngIf="search.value"
                                            matSuffix
                                            mat-icon-button
                                            aria-label="Clear"
                                        >
                                            <mat-icon class="mat-icon-clear">close</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-material-collapse">
                                <div class="right-side-expansion-panel-block">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
