<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="active-right-side-navbar">
                <div class="navbar-right-side-header-block">
                    <span class="chart-list-title" [ngClass]="status ? 'success' : 'icon--active'"
                        >Menus</span
                    >
                    <button
                        class="icon icon--transparent"
                        (click)="clickEvent()"
                        [ngClass]="status ? 'success' : 'icon--active'"
                    >
                        <span class="navbar-icon"></span>
                        <span class="navbar-icon"></span>
                        <span class="navbar-icon"></span>
                    </button>
                </div>
            </div>
            
            <div class="navbar-right-side-menu-chart" [ngClass]="status ? 'success' : 'icon--active'">
                <div class="navbar-right-block" [ngClass]="status ? 'success' : 'icon--active'">
                    <div class="nav navbar navbar-right">
                        <div class="navbar-right-inner">
                            <div class="navbar-material-collapse">
                                <div class="right-side-expansion-panel-block">
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
